<!DOCTYPE html>
<html ng-app="quoteBook">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title></title>
  </head>
  <body ng-controller="mainCtrl">
    <div>
      <div class="add-stuff">
        <input type="text" placeholder="Add new quote" ng-model='newQuoteText'>
        <input type="text" placeholder="Quotes author" ng-model='newQuoteAuthor'>
        <i ng-click = "addQuote()" class="material-icons">add</i>
      </div>
      <div>
        Filter: <input type="text" ng-model='filterText'/>
      </div>
    </div>
    <div ng-repeat = "quote in quotes | filter: filterText">
    <p>
      <span class = 'text'>{{quote.text}}</span>
      <span class = 'author'> -- {{quote.author}}</span>
    </p>
    <section>
      <i ng-click = "deleteMe(quote.text)" class="material-icons">close</i>
    </section>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js">
    </script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/dataService.js"></script>
  </body>
</html>
